
<div class="search-continer">
    <form #Form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Enter city" class="p-2 mb-3 shadow rounded-pill w-25 mt-3 text-white" style="margin-left: 370px;"
        [(ngModel)]="cityName" [ngModelOptions]="{standalone: true}">

    </form>
        <div class="container main" *ngIf="Root" >
            <div class="upper-data">
                <img src="../../assets/weather.jpg" alt="" *ngIf=" 15 < 19"  class="imag">
                  <img src="../../assets/cold.jpg" alt="" *ngIf="15<=28" class="imag">  
                <div class="weather-data">
                     <div class="location text-white text-center fs-3"> {{cityName}}</div> 
                      <div class="temprature text-white text-center fw-bold fs-3 mt-2">{{Root.current.temp_c |number:'1.0-0' }} ° C</div> 
                     <div class="temprature text-white text-center fw-bold fs-3 mt-2">{{ todayDate | date:'d'}} <span>{{todayDate | date: 'MM,y'}}</span></div>
                </div>
            </div>
            <div class="lower-data">
                <div class="more-info-lable text-white m-3">
                    More information
                </div>
                <div class="more-info-container m-3 rounded">
                  
                    <div class="info-block d-flex m-4 mx-4">
                        <div class="info-lock-label m-4">
                            <img src="../../assets/hot-159386_640.png" alt="">
                            <span class="text-white fs-6 small mx-3 ">temp_c :</span>
                        </div>
                        <div class="info-block-value text-white fw-medium m-4 mt-5">
                       {{Root.current.temp_c | number:'1.0-0'}} ° C
                        </div>
                    </div>
                    <!-- block2 --->
                    <div class="info-block d-flex mx-5">
                        <div class="info-lock-label">
                            <img src="../../assets/thermometer-151236_640.png" alt="" width="50px">
                            <span class="text-white fs-6 small mx-3">Gust</span>
                        </div>
                        <div class="info-block-value text-white fw-medium mt-3">
                         {{Root.current.gust_kph |number :'1.0-0'}} kph
                        </div>
                    </div>
         
                    <div class="info-block d-flex mt-5 mx-5">
                        <div class="info-lock-label">
                            <img src="../../assets/humidity-3d-render-icon-illustration-png.webp" alt="">
                            <span class="text-white fs-6 small mx-3">humidity</span>
                        </div>
                        <div class="info-block-value-4 text-white fw-medium">
                          {{Root.current.humidity}} %
                        </div>
                    </div>
                    <div class="info-block d-flex mt-5 mx-5">
                        <div class="info-lock-label">
                            <img src="../../assets/2157b96d613ffb0.jpg" alt="">
                            <span class="text-white fs-6 small mx-3">Wind</span>
                        </div>
                        <div class="info-block-value text-white fw-medium">
                          {{Root.current.wind_kph| number:'1.0-0'}} kph 
                        </div>
                    </div>
               
                    
            
                     </div> 
        
         
                </div>
   
 


    </div>
