:root{
    --blue-1: #3C429E;
    --blue-2 : #4C52AD;
    --yellow-1 : #FAC742;
    --white : #fff;
    --grey-1 : #EDEDED;
    --shadow-dark : rgba(0 ,0 , 0, 0.3);
    --shadow-light : rgba(255, 255 , 255 ,0.1);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search-continer{
    background-color:#4C52AD ;
}
.container{
    width: 6600px;
    height: 80vh;
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
}
input{
background-color: #3C429E;
border : 2px solid #3C429E
}


.main{
    background-color: #4C52AD;
    border-radius: 20px;
    width: 500px;
    height: auto;
    box-shadow: rgba(0 ,0 , 0, 0.3);
margin-left: 350px;
border:  2px solid #2f336e;

}
.upper-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
 .upper-data img{
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}
.weather-data{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color:rgba(0 ,0 , 0, 0.3) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .more-info-container{

background-color:rgba(255, 255 , 255 ,0.1) ;
margin-top: 1em;

}
/*
.info-lock-label{
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
 .info-lock-label img{
    width: 30px;
} 
.info-block-values{
    margin-left: 100px;
}
.info-block-value-1{
    margin-left: 70px;
}
.info-block-value-2{
    margin-left: 80px;
}
.info-block-values-3{
    margin-left: 90px;
}
.info-block-value-4{
    margin-left: 60px;
}
.info-block-value{
margin-left: 80px;
}
/* .info-block-value{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.lower-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 20px;
border-top-right-radius: 20px;
padding: 10px;
display: flex;
flex-direction: column;
} */
 .image{
    width: 100px;
 }