<p>weather-app works!</p>
<div class="search-continer" >
<input type="text" placeholder="Enter city" class="p-2 mb-3 rounded-pill w-50" 
 style="margin-left: 200px;" [(ngModel)]="city">
<button class="btn btn-primary p-2" (click)="getWeather()">Search</button>
</div>
<div class="container main"  >
    <div class="upper-data">
        <img src="../../assets/weather.jpg" alt="" *ngIf="20 < 25">
        <img src="../../assets/cold.jpg" alt="" *ngIf="14 <= 15">
        <div class="weather-data">
            <div class="location text-white text-center fs-3"> {{city}}</div>
        <div class="temprature text-white text-center fw-bold fs-3 mt-2">{{ temrature | number:'1.0-0'}} ° C</div>
    </div>
    </div>
    <div class="lower-data">
        <div class="more-info-lable text-white">
            More information
        </div>
        <div class="more-info-container m-3 rounded">
            <!-- <div class="d-flex"> -->
            <div class="info-block d-flex m-4 mx-4">
                <div class="info-lock-label m-4">
                    <img src="../../assets/hot-159386_640.png" alt="">
                    <span class="text-white fs-6 small mx-3 ">max :</span>
                </div>
                <div class="info-block-value text-white fw-medium m-4 mt-4">
                    {{temrature | number:'1.0-0'}}
                </div>
            </div>
            <!-- block2 -->
            <div class="info-block d-flex mx-5">
                <div class="info-lock-label">
                    <img src="../../assets/thermometer-151236_640.png" alt="" width="50px">
                    <span class="text-white fs-6 small mx-3">min</span>
                </div>
                <div class="info-block-value text-white fw-medium mx-5 mt-2">
                    {{Mintemrature | number:'1.0-0'}}
                </div>
            </div>
        <!-- </div> -->
            <!-- block3 -->
            <!-- <div class="d-flex"> -->
                <div class="info-block d-flex mt-5 mx-5">
                    <div class="info-lock-label">
                        <img src="../../assets/humidity-3d-render-icon-illustration-png.webp" alt="">
                        <span class="text-white fs-6 small mx-3">humidity</span>
                    </div>
                    <div class="info-block-value text-white fw-medium mx-4 d-flex">
                        {{humidity}} %
                    </div>
                </div>
                <!-- block2 -->
                <div class="info-block d-flex mx-5 m-5">
                    <div class="info-lock-label">
                        <img src="../../assets/air-pressure-icon-elements-weather-600nw-1656068398.webp" alt="">
                        <span class="text-white fs-6 small mx-2"> Weather </span>
                    </div>
                    <div class="info-block-value text-white fw-medium mx-5 mt-1 mb-4">
                        {{pressure}}
                    </div>
                </div>
            <!-- </div> -->
   
        
    </div>
</div>

